@charset "ISO-8859-1";

body {
	font-family: Arial;
	background-size: 165% 145%;
	background-repeat: no-repeat;
}

#newUserClick {
	cursor: pointer;
	text-decoration: underline;
}
.header {
	-webkit-animation: fadein 2s linear forwards;
    animation: fadein 2s linear forwards;
    text-align: center;
    color: white;
    text-shadow: 3px 2px rgba(52, 128, 193, 1);
    margin-top: 40px;
    font-size: 35px;
	
}
#outercontainer {
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(52, 128, 193, 0.7);
  width: 600px;
  color: white;
}
#outercontainer a {
	color: #DDB318;
}

#newusercontainer {
	margin-top: 40px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(52, 128, 193, 0.7);
	width: 600px;
	color: white;
	display: none;
}
#newusercontainer a {
	color: #DDB318;
}

#errorcontainer {
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 0, 0, 0.7);
	width: 600px;
	color: white;
	display: none;
}
h3, h4 {
  text-align: center;
}
.form-row {
  margin-bottom: 10px;
}
label {
  width: 220px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.label {
  float: none;
  width: auto;
}
button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: white;
  background-color: #3349FF;
  border: 0;
  border-radius: 6px;
}
button:hover {
  background: #293F50;
  cursor: pointer;
}
#guest {
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 13%;
  height: 30px;
  background-color: rgb(163, 37, 26);
  border-radius: 5px;
  text-decoration: none;
  line-height: 180%;
}
#guest a {
  text-decoration: none;
  color: white;
}
#formerror {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 12px;
	text-align: center;
	margin-bottom: 15px;
}


.blur  {
	-webkit-transition: all 1s ease;
	-moz-webkit-transition: all 1s ease ;
	-ms-webkit-transition: all 1s ease ;
	-o-webkit-transition: all 1s ease ;
	transition: all 1s ease ;
	-webkit-filter: blur(10px);
	float: left;
	z-index: -1;
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.backgroundImg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    

}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}