html, body {
	font-family: 'Roboto', sans-serif;
}

#header {
	-webkit-animation: fadein 2s linear forwards;
    animation: fadein 2s linear forwards;
    color: white;
    text-shadow: 3px 2px rgba(52, 128, 193, 1);
    font-size: 50px;
	/* Flex stuff */ 
	display: flex;
	justify-content: center;  
	align-items: center;
}

#logOutBtn {
	cursor: pointer;
	background-color: red;
	color: white;
	border: 1px white;
	width: 80px;
	height: 40px;
	margin-top: 20px;
	
}

#container {
	/* Flex stuff */ 
	display: flex;
	justify-content: center;  
	align-items: center;
}

#maxSizeCollageContainer {
	height: 500px; 
	width: 500px; 

	/* Flex stuff */ 
	display: flex;
	justify-content: center;  
	align-items: center;
}

#collageDisplay {
	height: 500px; 
	width: 500px; 
	border: 2px solid black; 

	/* Flex stuff */ 
	display: flex;
	justify-content: center;  
	align-items: center;
}

#collageImage {
	width: inherit;
	height: inherit;
}

#collageContainer {
	/* Flex stuff */ 
	display: flex;
	align-items: center;
	justify-content: center;
}

#topContainer {
	position: absolute;
	top: 0px;
	background-image: url('../img/dog.jpg');
	width: 100%;
	height: 15%;
	
}

#leftContainer {
	display: none;
	box-sizing: border-box;
	padding: 50px; 
	height: 450px;
	width: 420px;
	/* Flex stuff */ 
	display: block;
	flex-direction: column;
	/*justify-content: space-around; */
}


#collageOptionsBtn {
	cursor: pointer;
	background-color: blue;
	color: white;
	border: 1px white;
	width: 60%;
	height: 10% 
	box-sizing: border-box;
	margin-left: 25%; 
	margin-top: 20px; 
}

.optionsMenu{
	display: none;
}

.optionsMenuShown {
	-webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
	
}

.horizRow {
	/* Flex stuff */ 
	display: flex;
	flex-direction: row;
}

.horizRow {
	box-sizing: border-box;
	padding: 5px; 
}

label {
    width:80px;
    clear:left;
    text-align:left;
    padding-right:5px;
}

input, label {
    float:left;
}

#widthSubmit {
	margin-left: 5px; 
}

#heightSubmit {
	margin-left: 5px; 
}

#buildCollageBtn {
	cursor: pointer;
	background-color: green;
	color: white;
	border: 1px white;
	width: 60%;
	height: 30%; 
	box-sizing: border-box;
	margin-left: 25%; 
	margin-top: 10px; 
}


#saveBtns {

	margin-left: 20px; 
	/* Flex stuff */ 
	display: flex;
	flex-direction: column;
}

.save {
	margin-top: 20px; 
}

#galleryContainer {
	box-sizing: border-box;
	padding-top: 20px; 
	padding-bottom: 20px; 

	/* Flex stuff */ 
	display: flex;
	flex-direction: row;
	justify-content: center;

	overflow: scroll;
}

#saveToHistoryBtn {
	cursor: pointer;
	background-color: #F4D03F;
	color: white;
	border: 1px white;
	width: 100%;
	height: 30%; 
	box-sizing: border-box;
	margin-left: 25%; 
	margin-top: 10px;
	justify-content: center;
	
}

#exportBtn {
	cursor: pointer;
	background-color: #900C3F;
	color: white;
	border: 1px white;
	width: 100%;
	height: 30%; 
	box-sizing: border-box;
	margin-left: 25%; 
	margin-top: 20px;
	justify-content: center;
	
}

.galleryImages {
	box-sizing: border-box;
	padding: 5px; 

	width: 100px; 
	height: 100px; 
}

.galleryImages:hover {
	cursor: pointer;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#wrapper {
	position: relative;
}


#collageHistoryGalleryContainer {
	height: 120px;
	padding-top: 20px;
	text-align: center;
	overflow: auto;
	white-space: nowrap;		
}

#collageHistoryGalleryContainer .collageHistoryImageContainer {
	height: 100px;
	width: 100px;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

#collageHistoryGalleryContainer .collageHistoryImageContainer .collageHistoryImage {
	height: 98px;
	z-index: 0;
}

.collageDeleteButton {
	position: relative;
	z-index: 1;
	color: #494949;
	opacity: 0.5;
	right: 15px;
	bottom: 83px;
	cursor: pointer;
	width: 0px;
	font-size: 12pt;
}

.collageHistoryImageContainer:hover .collageDeleteButton {
	opacity: 1.0;	
}
